<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About the Developer</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <h1>About the Developer</h1>
    <p>This blog was created by Yaroslav Shvets. For more information, check out GitHub.</p>
    <a href="/">Back to Blog</a>
</body>
</html>
